@import "tailwindcss";

@theme {
	--font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
	--font-body: "Open Sans", ui-sans-serif, system-ui, sans-serif;

	--text-xs: 0.625rem;
	--text-xs--line-height: calc(1.5 / 0.625);
	--text-sm: 0.75rem;
	--text-sm--line-height: calc(1.5 / 0.75);
	--text-md: 0.875rem;
	--text-md--line-height: calc(1.5 / 0.875);
	--text-lg: 1.125rem;
	--text-lg--line-height: calc(1.75 / 1.125);
	--text-xl: 1.5rem;
	--text-xl--line-height: calc(2 / 1.5);

	--color-primary: #2c46b1;

	--text-base: 1rem;
	--text-base--line-height: calc(1.5 / 1);
	--text-2xl: 1.5rem;
	--text-2xl--line-height: calc(2 / 1.5);
	--text-3xl: 1.875rem;
	--text-3xl--line-height: calc(2.25 / 1.875);
	--text-4xl: 2.25rem;
	--text-4xl--line-height: calc(2.5 / 2.25);
	--text-5xl: 3rem;
	--text-5xl--line-height: 1;
	--text-6xl: 3.75rem;
	--text-6xl--line-height: 1;
	--text-7xl: 4.5rem;
	--text-7xl--line-height: 1;
	--text-8xl: 6rem;
	--text-8xl--line-height: 1;
	--text-9xl: 8rem;
	--text-9xl--line-height: 1;

	--color-gray-50: #ffffff;
	--color-gray-100: #f9f9fb;
	--color-gray-200: #e4e6ec;
	--color-gray-300: #cdcfd5;
	--color-gray-400: #74798b;
	--color-gray-500: #4d505c;
	--color-gray-600: #1f2025;
}
